body{ width: 90%; margin: 0 auto; background-color: #F0EAD6;}

.art{width:300px; height:450px; box-sizing: border-box; margin:auto; margin-top:20%; border-radius: 50% 50% 50% 50%; transform:rotate(-45deg); background:linear-gradient(280deg,#F0EAD6 10%,#ffa631 100%); box-shadow: inset -1px 1px 10px white; filter:drop-shadow(-2px 15px 12px grey)}
